<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="text-center my-5">SEARCH GIT HISTORY</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-6 m-auto">
      <label><b>1.</b> Find Github User</label>
      <ng-select [items]="users$ | async"
                 bindLabel="login"
                 [minTermLength]="2"
                 [loading]="usersLoading"
                 [typeahead]="usersInput$"
                 [(ngModel)]="user"
                 (change)="onUserSelected($event)">
      </ng-select>
    </div>
  </div>
  <br>
  <br>
  <div class="row" [ngClass]="{disabled: !user}">
    <div class="col-6 m-auto">
      <label><b>2.</b> Find User's Repos</label>
      <ng-select [items]="repos$ | async"
                 bindLabel="name"
                 [disabled]="!user"
                 [loading]="reposLoading"
                 [(ngModel)]="repo"
                 (change)="onRepoSelected($event)">
      </ng-select>
    </div>
  </div>
  <br>
  <br>
  <div class="row" [ngClass]="{disabled: !repo}">
    <div class="col">
      <div class="row">
        <div class="col-9">
          <label><b>3.</b> Explore Commits</label>
        </div>
        <div class="col-3 mb-2">
          <ng-select [items]="branches$ | async"
                     [disabled]="!repo"
                     [(ngModel)]="branch"
                     [clearable]="false"
                     (change)="onBranchSelected($event)">
          </ng-select>
        </div>
      </div>
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Commit</th>
          <th scope="col">Author</th>
          <th scope="col">Message</th>
          <th scope="col">Date</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let commit of commits$ | async">
          <td>{{commit.sha}}</td>
          <td>{{commit.authorName}}</td>
          <td>{{commit.message}}</td>
          <td>{{commit.authorDate | date : 'short'}}</td>
        </tr>
        </tbody>
      </table>
      <ngb-pagination
        [(page)]="page"
        [pageSize]="pageSize"
        [collectionSize]="total"
        [maxSize]="5"
        [boundaryLinks]="true"
        (pageChange)="onPageChange($event)"></ngb-pagination>
    </div>
  </div>
</div>

